.grid {
  display: grid;
}

.grid--main {
  grid-template-columns: 10% 90%;
  grid-auto-rows: minmax(100, auto);
  grid-template-areas: 
  "nav header"
  "nav main"
  "nav main";
}

.grid--ducks {
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100, auto);
  grid-template-areas:
  "duck1 duck2 duck3"
  "duck4 duck-description duck-description";
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.duck:nth-of-type(1) {
  grid-area: duck1;
}

.duck:nth-of-type(2) {
  grid-area: duck2;
}

.duck:nth-of-type(3) {
  grid-area: duck3;
}

.duck:nth-of-type(4) {
  grid-area: duck4;
}

.duck__description {
  grid-area: duck-description;
}

@media only screen and (max-width: 800px) {
  .grid {
    display: block;
  }
}